{
  "swagger": "2.0",
  "info": {
    "title": "K2 Assure Sign Submit",
    "description": "API for au.assuresign.net",
    "version": "0.0.0"
  },
  "host": "au.assuresign.net",
  "basePath": "/api/documentnow/v3.7",
  "schemes": [
    "https"
  ],
  "paths": {
    "/submit": {
      "post": {
        "tags": [
          "Web"
        ],
        "description": "Submit template",
        "operationId": "SubmitTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersion",
            "in": "query",
            "description": "Api version",
            "required": true,
            "type": "string",
            "x-example": "3.7"
          },
          {
            "name": "templateID",
            "in": "query",
            "description": "Template ID",
            "required": true,
            "type": "string",
            "x-example": "c7eabd73-adf2-4b0e-9c12-ae39002640f5"
          },
          {
            "name": "SignValues",
            "in": "body",
            "description": "Sign Values",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SignValues"
              }
            }
          },
          {
            "name": "apiUsername",
            "in": "header",
            "description": "apiUsername",
            "required": true,
            "type": "string",
            "x-example": ""
          },
          {
            "name": "key",
            "in": "header",
            "description": "key",
            "required": true,
            "type": "string",
            "x-example": ""
          },
          {
            "name": "contextUsername",
            "in": "header",
            "description": "contextUsername",
            "required": true,
            "type": "string",
            "x-example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubmitResponse"
            },
            "examples": {
              "application/json": {
                "envelopeID": "d900d0a0-ada8-4231-830e-ae9c013c2d8e",
                "httpResult": "OK"
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "Status": {
      "description": "Model for Status",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-example": "00000000-0000-0000-0000-000000000000"
        },
        "statusDate": {
          "type": "string",
          "format": "date-time",
          "x-example": "2022-05-21T19:03:10.023"
        },
        "statusDateSpecified": {
          "type": "boolean",
          "x-example": "true"
        },
        "statusDetails": {
          "type": "string",
          "x-example": "Step 1"
        },
        "statusType": {
          "type": "string",
          "x-example": "signinG_STEP_PROGRESS"
        },
        "statusTypeSpecified": {
          "type": "boolean",
          "x-example": "true"
        }
      }
    },
    "DocumentList": {
      "description": "Model for DocumentList",
      "required": [
        "documentID"
      ],
      "properties": {
        "documentID": {
          "type": "string",
          "x-example": "4f66e907-2443-475e-ac3f-ae9c0139fa7b"
        },
        "name": {
          "type": "string",
          "x-example": "Safalo NDA Template"
        },
        "status": {
          "$ref": "#/definitions/Status",
          "x-example": "{\n  \"id\": \"00000000-0000-0000-0000-000000000000\",\n  \"statusDate\": \"2022-05-21T19:03:10.023\",\n  \"statusDateSpecified\": true,\n  \"statusType\": \"signinG_STEP_PROGRESS\",\n  \"statusTypeSpecified\": true,\n  \"statusDetails\": \"Step 1\"\n}"
        }
      }
    },
    "CheckEnvelopeStatus": {
      "description": "Model for CheckEnvelopeStatus",
      "required": [
        "documentList"
      ],
      "properties": {
        "documentList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentList"
          },
          "x-example": "[\n  {\n    \"status\": {\n      \"id\": \"00000000-0000-0000-0000-000000000000\",\n      \"statusDate\": \"2022-05-21T19:03:10.023\",\n      \"statusDateSpecified\": true,\n      \"statusType\": \"signinG_STEP_PROGRESS\",\n      \"statusTypeSpecified\": true,\n      \"statusDetails\": \"Step 1\"\n    },\n    \"documentID\": \"4f66e907-2443-475e-ac3f-ae9c0139fa7b\",\n    \"name\": \"Safalo NDA Template\"\n  }\n]"
        },
        "envelopeID": {
          "type": "string",
          "x-example": "d8078402-ad5e-486f-9520-ae9c0139fa76"
        },
        "status": {
          "type": "string",
          "x-example": "iN_PROGRESS"
        }
      }
    },
    "SignValues": {
      "description": "Model for SignValues",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-example": "Safalo Signer Name"
        },
        "value": {
          "type": "string",
          "x-example": "Andy Hayes"
        }
      }
    },
    "SubmitResponse": {
      "description": "Model for SubmitResponse",
      "required": [
        "envelopeID"
      ],
      "properties": {
        "envelopeID": {
          "type": "string",
          "x-example": "d900d0a0-ada8-4231-830e-ae9c013c2d8e"
        },
        "httpResult": {
          "type": "string",
          "x-example": "OK"
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Web",
      "description": "Operations about Web"
    }
  ]
}
